@model BetSystem.Controllers.Resources.TeamResource

<title>Add Team</title>

<div class="container">
    @await Component.InvokeAsync("SelectedSeason", new { title = "Add Team" })

    <div class="row">
    @if(Model.Season != null) {
        
        @if(!Model.Season.Active) 
        {
            <h5 class="validation-summary-errors">Teams can not be added because the season is not active!</h5>
        }

        <div class="form-team col-sm-12 col-md-7">

            @using (Html.BeginForm("AddTeam", "Team"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "New Team")
                    @Html.TextBoxFor(m => m.Name,new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.SeasonId)
                @Html.HiddenFor(m => m.Season, Model.Season )

                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary" disabled="@(!Model.Season.Active)">Add</button>
            }
        </div>
    }


        <div class="teams-display col-sm-12 col-md-5">
            <h2>Teams in the Season:</h2>
                @if(ViewBag.Teams.Count == 0) {
                    <button>None</button>
                }
                @foreach(var t in ViewBag.Teams)
                {
                    <button>@t.Name</button>
                }
        </div>
    </div>
</div>