@model IEnumerable<BetSystem.Controllers.Resources.BetResource>

@{ bool active = Model.Any() ? Model.First().Match.Team.Season.Active : false; }
@{ string currency = ViewBag.Currency.Symbol; }
@{ int NrBets = 0; }
@{ string classTr = "settled"; }
@{ string info = Model.Any() ? "" : "There are no Bets to be displayed!"; }
@{ int unsettledBets = Model.Count(x => x.Won == null); }

<title>All Bets</title>

<div class="container bets">
    @await Component.InvokeAsync("SelectedSeason", new { title = "Displayed Bets: ", info = @info })

    <div class="display-options-bets">
        <span class="all">
            display all
        </span>|
        <span class="last10">
            display last 10
        </span>|
        <span class="unsettled">
            display unsettled @if(unsettledBets > 0) { <span>(@unsettledBets.ToString())</span> }
        </span>
        <div class="delete-bet" style="@(active ? "display:block" : "display:none")">
            <label  for="delbet">
                <span>Delete Bet</span>
            </label>
            <input class="form-check-input" type="checkbox" value="" id="delbet">
        </div>
    </div>

    <table id="bets" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Team</th>
                <th>Date</th>
                <th>Match</th>
                <th>Odd</th>
                <th>Stake</th>
                <th>Total</th>
                <th>Won</th>
                <th>Cash Out</th>
                <th>Return <span class="glyphicon glyphicon-upload" onclick="tableSort('nth-child(10)','desc')"></span></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            @if(item.Won == null){ classTr = "unsettled";}
                else { classTr = "settled"; }
                NrBets = NrBets + 1;
                <tr class="@classTr">
                    <td>@NrBets</td>
                    <td class="select_team" onclick="display_bets_team($(this).text())">@item.Match.Team.Name</td>
                    <td>@item.Match.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.Match.Home - @item.Match.Away</td>
                    <td>@item.Match.Odd</td>
                    <td>@currency@item.Match.Stake</td>
                    <td>@currency@item.Match.CashReturn</td>
                    
                    @if(item.Won == true) 
                    { <td style="color:lime">Yes</td> }
                    @if(item.Won == false) 
                    { <td>No</td> }
                    @if(item.Won == null) 
                    {
                        <td>
                        <input type="button" value="Edit" class="btn btn-info edit" 
                            onclick="$('.edit-delete-bet').load('@Url.Action("BetEdit","Bet", new { id = item.Id })')" />           
                        </td>
                    }
                    <td>@currency@item.Withdrawal</td>
                    <td>@currency@item.Profit</td>
                    <td class="delete-bet" style="display:none">
                        <button onclick="$('.edit-delete-bet').load('@Url.Action("FindBet","Bet", new { id = item.Id })')"
                            class="btn btn-danger btn-sm" style="padding:0 5px;min-width:auto;font-size:.7em">
                        <i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!------------------- Popout div ------------------------>
<div class="popout" style="display: none">
    <div class="edit-delete-bet">
    </div>
</div>

@section scripts
{
    <script>      
    </script>
}